*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.body {
    margin: 0;
    padding: 0;
}

#timer {
    float: right;
    display: inline;

}

#startQuizContainer {
    text-align: center;
    width: 35%;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin-top: 200px;
}

.button {
    background-color: #563d7c;
    border-radius: 5px;
    color: white;
}

.button:hover {
    background-color: #8570a5;
}